<div class="x_center" style="width: 100%;">

	
	<div class="box_padding" style="width: 80%;">
	    <a href="/" target="_top" style="width: 100%;">
		<div class="box_border" style="width: 100%;">
		    <div class="box" style=" margin:0 auto;">
			<div id="Ttext">
			    ET01's Webpage
			</div>
		    </div>
		</div>
	    </a>
	</div>

</div>

<br>
<!--選單-->
<div class="x_center" style="width: 100%;">
	<div class="x_center" style="width: 80%;">
	<!--link-->

	<div class="box_padding" style="width:175px;">
		<a href="/ETsearch/" target="_top">
			<div class="box_border" style="margin: 0 auto;width:auto;">
				<div class="box">
					<div id="text">
						ETsearch
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="box_padding" style="width:175px;">
		<a href="/" target="_top">
			<div class="box_border" style="margin: 0 auto;width:auto;">
				<div class="box">
					<div id="text">
						blog
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="box_padding" style="width:175px;">
		<a href="/PCIC/" target="_top">
			<div class="box_border" style="margin: 0 auto;width:175px;">
				<div class="box">
					<div id="text">
						PCIC
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="box_padding" style="width:175px;">
		<a href="/link_out/" target="_top">
			<div class="box_border" style="margin: 0 auto;width:175px;">
				<div class="box">
					<div id="text">
						link_out
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="box_padding" style="width:175px;">
		<a href="/about/" target="_top">
			<div class="box_border" style="margin: 0 auto;width:175px;--box_color: #F00;">
				<div class="box">
					<div id="text">
						about
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="box_padding" style="width:175px;">
		<a href="https://github.com/KagariET01/kagariet01.github.io" target="_top">
			<div class="box_border" style="margin: 0 auto;width:auto; --box_color: #888;">
				<div class="box">
					<div id="text">
						Source
					</div>
				</div>
			</div>
		</a>
	</div>

	<div class="box_padding">
		<button onclick=switch_sty();>
			<div class="box_border">
					<div class="box">
						<div id="text">
								⬜️/⬛️
						</div>
					</div>
			</div>
		</button>
	</div>

</div>
